<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<script src="../../../lib/jquery/jquery-1.12.4.min.js" type="text/javascript"></script>
<script src="../../../lib/FrichUI/frichUI-0.1.js" type="text/javascript"></script>
<script src="../../../content/js/form.js" type="text/javascript"></script>
<link href="../../../content/css/form.css" rel="stylesheet" />
</head>


<body>
	<form id="add">
		<table>
			<tbody>
				<tr>
					<td>
						<input id="O_DEPARTCODE" name="O_DEPARTCODE" type="text" class="hide">
					</td>
				</tr>
				<tr>
					<td>
						<label for="O_DEPARTNAME">线路*</label>
						<input id="O_DEPARTNAME" name="O_DEPARTNAME" type="text" readonly="readonly" class="NoEmpty">
					</td>
				</tr>
				<tr>
					<td>
						<label for="O_PROGRAMNAME">方案名*</label>
						<input id="O_PROGRAMNAME" name="O_PROGRAMNAME" type="text" class="NoEmpty">
					</td>
				</tr>
				<tr>
					<td>
						<label for="O_DIRECTION">营运方向</label>
						<input name="O_DIRECTION" type="radio" value="去行" checked="checked">去行
						<input name="O_DIRECTION" type="radio" value="回行">回行
					</td>
				</tr>
				<tr>
					<td>
						<input name="O_BOPER" type="radio" value="是" checked="checked">营运
						<input name="O_BOPER" type="radio" value="否">非营运
					</td>
					<td>
						<label for="O_STATUS">非营运类型</label>
						<input id="O_STATUS" name="O_STATUS" type="text">
					</td>
				</tr>
				<tr>
					<td>
						<label for="O_STANDERKM">标准里程</label>
						<input id="O_STANDERKM" name="O_STANDERKM" type="text">
					</td>
				</tr>
				<tr>
					<td>
						<label for="O_STANDERTIME">运行时间</label>
						<input id="O_STANDERTIME" name="O_STANDERTIME" type="text">
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td>
						<p class="info"></p>
					</td>
				</tr>
			</tfoot>
		</table>
	</form>
	
</body>
</html>