<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript">

	F.Form.make($("#f"), {
		{
			name: "",
			id: "",
			type: "text"、"password"、"options"、"radio"、"checkbox"
			att: []
		},{
			name: "",
			id: "",
			type: "text"、"password"、"options"、"radio"、"checkbox"、"data"
			att: []
		}
	})
	
</script>

</head>
<body id="f">
	<form action="">
		<table>
			<tr>
				<td>
					<label name="" for="0">部门</label>
					<input type="" name="" id="0" value="嘉兴国鸿">
					<input type="radio" name="a">asd
					<input type="radio" name="a">asd
					<input type="radio" name="a" id="">asd
				</td>
				<td>
					<label name="" for="0">部门</label>
					<input type="" name="" id="0" value="嘉兴国鸿">
					<input type="radio" name="a">asd
					<input type="radio" name="a">asd
					<input type="radio" name="a">asd
				</td>
			</tr>
		</table>
	</form>
</body>
</html>