<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<script src="../lib/jquery/jquery-1.12.4.min.js" type="text/javascript"></script>
<script src="http://api.map.baidu.com/api?v=2.0&ak=ltqbX4kKrQ7hDpzaTkf57fYv" type="text/javascript"></script>
<link href="../content/css/common.css" rel="stylesheet" type="text/css">
<link href="../content/css/icon.css" rel="stylesheet" type="text/css">
<link href="../content/css/content.css" rel="stylesheet" type="text/css">
<link href="../content/css/caseMaking.css" rel="stylesheet" type="text/css">

<script src="../lib/FrichUI/frichUI-0.1.js" type="text/javascript"></script>
<script src="../content/js/content.js" type="text/javascript"></script>
<script src="../content/js/view/department.js" type="text/javascript"></script>
</head>
<body>
	<div class="frame">
		<div class="caseList">
			<div class="caseList-Title">
				<div class="toolBox">
					<a class="tool" id= "search">
						<i class="search"></i>
						<label>查看</label>
					</a>
					<a class="tool" id="save">
						<i class="save"></i>
						<label>保存</label>
					</a>
				</div>
				<div id="table">
				
				</div>
			</div>
		</div>
		
		<div class="case">
			<div id= "">
			</div>	
		</div>
		
		<div class="DispatchArea">
			<div class="diTitle">
				<div class="rTitle">
					<div class="selt">
						调度区域：
							<select id="dArea">
								<option></option>
								<option></option>
								<option></option>
								<option></option>
							</select>
					</div>
					<div class="toolBox">
							<a class="tool" id="add">
								<I class="add"></I>
								<label>新增</label>
							</a>
							<a class="tool" id="complete">
								<I class="complete"></I>
								<label>完成</label>
							</a>
							<a class="tool" id="delete">
								<I class="delete"></I>
								<label>删除</label>
							</a>
					</div>
				</div>
			</div>
			<div id="table">
		
			</div>
			
		</div>
	</div>
	
</body>
</html>