<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<script src="../lib/jquery/jquery-1.12.4.min.js" type="text/javascript"></script>
<link href="../content/css/common.css" rel="stylesheet" type="text/css">
<link href="../content/css/icon.css" rel="stylesheet" type="text/css">
<link href="../content/css/content.css" rel="stylesheet" type="text/css">

<script src="../lib/FrichUI/frichUI-0.1.js" type="text/javascript"></script>
<script src="../content/js/content.js" type="text/javascript"></script>
<script src="../content/js/view/user.js" type="text/javascript"></script>
</head>
<body>
	<div class="hr">
	
	</div>
	<div class="frame">
		<div class="toolBox">
			<a class="tool" id="add">
				<I class="add"></I>
				<label>新增</label>
			</a>
			<a class="tool" id="update">
				<I class="update"></I>
				<label>修改</label>
			</a>
			<a class="tool" id="delete">
				<I class="delete"></I>
				<label>删除</label>
			</a>
		</div>
		<div id="table">
		
		</div>
	</div>
</body>
</html>