<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<connectionPool>
	<connection>
		<name>oracle</name>
		<url>jdbc:oracle:thin:@115.228.184.173:1521:thinklan</url>
		<username>tds</username>
		<password>tds</password>
	</connection>
	<connection>
		<name>mysql</name>
		<url>jdbc:mysql://localhost:3306/tds</url>
		<username>root</username>
		<password>wsdrfgtyhuiokl</password>
	</connection>
	<ip>jlinfo.kmdns.net</ip>
</connectionPool>