<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<script src="../../../lib/jquery/jquery-1.12.4.min.js" type="text/javascript"></script>
<script src="../../../lib/FrichUI/frichUI-0.1.js" type="text/javascript"></script>
</head>
<body id="table">
	<script type="text/javascript">
		$(document).ready(function(){
			F.init("../../../lib/FrichUI/", F.FRICHUI_THEME_DARK);
			
			var data = {
				type: "table"
			}
			
			F.Table.make($("#table"), {
				loadHead: false,
				enableAutoSerial: true,
				enableSingleSelect: true,
				showSingleSelect: true,
				enableAjax: true,
				title: "选择线路",
				models: [{
					name: "id",
					hide: true
				},{
					name: "fid",
					hide: true
				},{
					name: "code",
					hide: true
				},{
					name: "线路名"
				}],
				pagination: {
					rows: 8
				},
				ajaxType: "selectLine",
				ajax: {
					url: "../../../json/line.do",
					data: {},
				    success: function (data, options) {
				    	options.data = data.o.data;
				    	var pages = options.pagination.pages;
				    	options.pagination = {
							total: data.o.pagination.total,
							pages: pages,					//当前页基础上显示几页 > 0
							records: data.o.pagination.records,
							current: data.o.pagination.current,
							rows: data.o.pagination.rows
						}
				    },
				    error: function (err) {
				    	F.Affair.make(undefined, {
				    		type: "error",
				    		message: "连接服务器失败",
				    		reload: false
				    	})
				    }
				}
			});
		})
		
		var select = function(){
			return {
				id: F.entitys("table").getSingleValue(2),
				fid: F.entitys("table").getSingleValue(3),
				code: F.entitys("table").getSingleValue(4),
				name: F.entitys("table").getSingleValue(5),
			}
		}
	</script>
</body>
</html>