@charset "UTF-8";
.frame
{
	margin: 20px 40px;
	padding: 20px;
	background: #FFF;
	border-radius: 5px;
	overflow: hidden;
}
.frame:nth-child(1)
{
	margin-top: 20px;
}
.tool
{
	display: inline-block;
	padding: 1px 15px;
	height: 25px;
	line-height: 25px;
	font-size: 12px;
	background: #e4e7ee; /* Old browsers */
	background: -webkit-linear-gradient(top, #FFF 40%, #e4e7ee 60%); /* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(top, #FFF 40%, #e4e7ee 60%); /* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(top, #FFF 40%, #e4e7ee 60%); /* Firefox 3.6 - 15 */
	background: linear-gradient(to bottom,#FFF 40%, #e4e7ee 60%); /* 标准的语法 */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFF', endColorstr='#e4e7ee',GradientType=0 ); /* IE6-9 */
	border: 1px solid #AFAFAF;
	border-radius: 5px;
	color: #000;
	font-weight: normal;
	cursor: pointer;
}
.tool:hover
{
	background: #d5ebff; /* Old browsers */
	background: -webkit-linear-gradient(top, #FFF 40%, #d5ebff 60%); /* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(top, #FFF 40%, #d5ebff 60%); /* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(top, #FFF 40%, #d5ebff 60%); /* Firefox 3.6 - 15 */
	background: linear-gradient(to bottom,#FFF 40%, #d5ebff 60%); /* 标准的语法 */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFF', endColorstr='#d5ebff',GradientType=0 ); /* IE6-9 */
	border: 1px solid #6f9fa9;
	color: #551a8b;
	box-shadow: 0 0 3px #a4d3ff;
}
.tool i
{
	display: inline-block;
	margin-right: 5px;
	cursor: pointer;
	vertical-align: middle;
}
.tool label
{
	cursor: pointer;
	vertical-align: top;
}
#search,
#update,
#add
{
	float: left;
	margin: 5px 8px 5px 0;
}
#delete,
#hide
{
	float: right;
	margin: 5px 0 5px 8px;
}
#output,
#download
{
	float: left;
	margin: 5px 0 5px 8px;
}
#input
{
	float: left;
	margin: 5px 0 5px 20px;
}
.selectBox
{
	width: 100%;
	padding: 10px 0 0 0;
	overflow: hidden;
}
.toolBox
{
	width: 100%;
	padding: 0 0 5px 0;
	overflow: hidden;
}
#table
{
	width: 100%;
}

