@charset "UTF-8";
.frame
{
	margin: 10px;
	padding: 20px;
	background: #FFF;
	border-radius: 5px;
	overflow: hidden;
}
.frame .selection,
.frame .toolBox
{
	margin: 0 0 10px 0;
}
.toolBox
{
	padding: 0;
	overflow: hidden;
}
.tool
{
	display: inline-block;
	padding: 1px 15px;
	height: 25px;
	line-height: 25px;
	font-size: 12px;
	background: #e4e7ee; /* Old browsers */
	background: -webkit-linear-gradient(top, #FFF 40%, #e4e7ee 60%); /* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(top, #FFF 40%, #e4e7ee 60%); /* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(top, #FFF 40%, #e4e7ee 60%); /* Firefox 3.6 - 15 */
	background: linear-gradient(to bottom,#FFF 40%, #e4e7ee 60%); /* 标准的语法 */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFF', endColorstr='#e4e7ee',GradientType=0 ); /* IE6-9 */
	border: 1px solid #AFAFAF;
	border-radius: 5px;
	color: #000;
	font-weight: normal;
	cursor: pointer;
}
.tool:hover
{
	background: #d5ebff; /* Old browsers */
	background: -webkit-linear-gradient(top, #FFF 40%, #d5ebff 60%); /* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(top, #FFF 40%, #d5ebff 60%); /* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(top, #FFF 40%, #d5ebff 60%); /* Firefox 3.6 - 15 */
	background: linear-gradient(to bottom,#FFF 40%, #d5ebff 60%); /* 标准的语法 */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFF', endColorstr='#d5ebff',GradientType=0 ); /* IE6-9 */
	border: 1px solid #6f9fa9;
	color: #551a8b;
	box-shadow: 0 0 3px #a4d3ff;
}
.tool i
{
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 5px;
	cursor: pointer;
	vertical-align: middle;
}
.tool label
{
	margin: 0 !important;
	cursor: pointer;
	vertical-align: top;
}
a.update,
a.add,
a.complete,
a.cancle
{
	float: left;
	margin: 0px 8px 0 0;
}
a.delete,
a.hide,
a.unbind,
a.bind,
a.search
{
	float: right;
	margin: 0px 0 0 8px;
}
a.output,
a.download
{
	float: left;
	margin: 0px 0 0 8px;
}
a.input
{
	float: left;
	margin: 0px 0 0 20px;
}
a.complete,
a.cancle
{
	display: none;
}
.selection
{
	font-size: 12px;
}
.topSelection
{
	display: none;
	line-height: 29px;
}
.leftSelection
{
	margin: 10px 0 0 0;
}
.selection table
{
	width: 100%;
}
.selection tr
{
	height: 28px;
}
.topSelection input[type=text]
{
	margin-right: 20px;
	width: 130px;
	height: 22px;
	border: 1px solid #BBB;
	padding: 0;
	text-indent: 5px;
}
.topSelection label
{
	margin-right: 10px;
}
.table
{
	width: 100%;
}





