@charset "UTF-8";
.frame
{
	margin: 20px 40px;
	padding: 20px;
	background: #FFF;
	border-radius: 5px;
	overflow: hidden;
}
.frame:nth-child(1)
{
	margin-top: 20px;
}
.tool
{
	display: inline-block;
	padding: 1px 15px;
	height: 25px;
	line-height: 25px;
	font-size: 12px;
	background: linear-gradient(to top, #e4e7ee 35%, #FFF 65%);
	border: 1px solid #AFAFAF;
	border-radius: 5px;
	color: #000;
	font-weight: normal;
	cursor: pointer;
}
.tool:hover
{
	background: #f0feff;
	color: #551a8b;
	border: 1px solid #bbb;
	box-shadow: 2px 2px 3px #DDD inset;
}
.tool i
{
	display: inline-block;
	margin-right: 5px;
	cursor: pointer;
	vertical-align: middle;
}
.tool label
{
	cursor: pointer;
	vertical-align: top;
}
#search,
#update,
#add
{
	float: left;
	margin: 0 8px 0 0;
}
#delete,
#hide
{
	float: right;
	margin: 0 0 0 8px;
}
#output,
#download
{
	float: left;
	margin: 0 0 0 8px;
}
#input
{
	float: left;
	margin: 0 0 0 20px;
}
.selectBox
{
	width: 100%;
	padding: 10px 0 0 0;
	overflow: hidden;
}
.toolBox
{
	width: 100%;
	padding: 0 0 10px 0;
	overflow: hidden;
}
#table
{
	width: 100%;
}

