@CHARSET "UTF-8";
.user
{
	position: static;
	display: block;
}
.pasw
{
	position: static;
	display: block;
}
.userhead
{
	position: static;
	display: block;
	width: 40px;
	height: 40px;
	background: url(../../img/userHead/head.jpg);
}
.add
{
	position: static;
	display: block;
	width: 20px;
	height: 20px;
	background: url(../../icon/tools.png) no-repeat -56px -30px;
}
.update
{
	position: static;
	display: block;
	width: 20px;
	height: 20px;
	background: url(../../icon/tools.png) no-repeat -5px -57px;
}
.search
{
	position: static;
	display: block;
	width: 20px;
	height: 20px;
	background: url(../../icon/tools.png) no-repeat -2px -4px;
}
.input
{
	position: static;
	display: block;
	width: 20px;
	height: 20px;
	background: url(../../icon/tools.png) no-repeat -56px -3px;
}
.output
{
	position: static;
	display: block;
	width: 20px;
	height: 20px;
	background: url(../../icon/tools.png) no-repeat -25px -3px;
}
.download
{
	position: static;
	display: block;
	width: 20px;
	height: 20px;
	background: url(../../icon/tools.png) no-repeat -28px -30px;
}
.delete
{
	position: static;
	display: block;
	width: 20px;
	height: 20px;
	background: url(../../icon/tools.png) no-repeat  -3px -30px;
}
.bind
{
	position: static;
	display: block;
	width: 20px;
	height: 20px;
	background: url(../../icon/tools.png) no-repeat  -3px -30px;
}
.unbind
{
	position: static;
	display: block;
	width: 20px;
	height: 20px;
	background: url(../../icon/tools.png) no-repeat  -3px -30px;
}
.hide
{
	position: static;
	display: block;
	width: 20px;
	height: 20px;
	background: url(../../icon/tools.png) no-repeat  -3px -30px;
}

.save
{
	position: static;
	display: block;
	width: 20px;
	height: 20px;
	background: url(../../icon/tools.png) no-repeat -3px -30px;	
}