@CHARSET "UTF-8";
.user
{
	position: static;
	display: block;
}
.pasw
{
	position: static;
	display: block;
}
.userhead
{
	position: static;
	display: block;
	width: 40px;
	height: 40px;
	background: url(../../img/userHead/head.jpg);
}
i.add
{
	position: static;
	display: block;
	width: 20px;
	height: 20px;
	background: url(../../icon/tools.png) no-repeat -56px -30px;
}
i.update
{
	position: static;
	display: block;
	width: 20px;
	height: 20px;
	background: url(../../icon/tools.png) no-repeat -5px -57px;
}
i.search
{
	position: static;
	display: block;
	width: 20px;
	height: 20px;
	background: url(../../icon/tools.png) no-repeat -2px -4px;
}
i.input
{
	position: static;
	display: block;
	width: 20px;
	height: 20px;
	background: url(../../icon/tools.png) no-repeat -56px -3px;
}
i.output
{
	position: static;
	display: block;
	width: 20px;
	height: 20px;
	background: url(../../icon/tools.png) no-repeat -25px -3px;
}
i.download
{
	position: static;
	display: block;
	width: 20px;
	height: 20px;
	background: url(../../icon/tools.png) no-repeat -28px -30px;
}
i.delete
{
	position: static;
	display: block;
	width: 20px;
	height: 20px;
	background: url(../../icon/tools.png) no-repeat  -3px -30px;
}
i.bind
{
	position: static;
	display: block;
	width: 20px;
	height: 20px;
	background: url(../../icon/tools.png) no-repeat  -3px -30px;
}
i.unbind
{
	position: static;
	display: block;
	width: 20px;
	height: 20px;
	background: url(../../icon/tools.png) no-repeat  -3px -30px;
}
i.hide
{
	position: static;
	display: block;
	width: 20px;
	height: 20px;
	background: url(../../icon/tools.png) no-repeat  -3px -30px;
}
i.save
{
	position: static;
	display: block;
	width: 20px;
	height: 20px;
	background: url(../../icon/tools.png) no-repeat -3px -30px;	
}
i.complete
{
	position: static;
	display: block;
	width: 20px;
	height: 20px;
	background: url(../../icon/tools.png) no-repeat -56px -54px;	
}
i.cancle
{
	position: static;
	display: block;
	width: 20px;
	height: 20px;
	background: url(../../icon/tools.png) no-repeat -27px -56px;	
}