@charset "UTF-8";
.lineList
{
	width:25%;
	float:left;
	border:1px solid #6f9fa9;
}
.bindContent
{
	min-width:20%;
	float:left;
	border:1px solid #6f9fa9;
}
.bCTitle
{
	width:100%;
	display:inline-block;
}
.selt
{
	margin:8px 3px 0 0;
}
.bCTitle .toolBox
{
	width:30%;
	float:right;
}
.bindContent .selt
{
	float:left;
}

.bindContent #add
{
	float:right;
	white-space:nowrap; 
}



#kind
{
	width:70px;
}

#area
{
	width:100px;
}