@CHARSET "UTF-8";
body
{
	
}
div
{
	position: static;
	display: block;
}
.main
{
	width: 100%;
	height: 100%;
	background: #FAFAFA;
}
.top,
.bottom
{
	background: #FBFBFB; /* Old browsers */
	background: -webkit-linear-gradient(top, #FBFBFB, #EEEEEE); /* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(top, #FBFBFB, #EEEEEE); /* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(top, #FBFBFB, #EEEEEE); /* Firefox 3.6 - 15 */
	background: linear-gradient(to bottom,#FBFBFB, #EEEEEE); /* 标准的语法 */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FBFBFB', endColorstr='#EEEEEE',GradientType=0 ); /* IE6-9 */
}
.top
{
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #d8d8d8;
	box-shadow: 0 0 5px #CCC;
}
.top .welcome,
.bottom .copyright
{
	display: inline;
	margin: 0;
	padding: 0 0 0 20px;
	float: left;
	font-size: 14px;
	font-weight: bold;
	color: #4a4a4a;
	font-weight: normal;
	vertical-align: top;
}
.top .welcome a
{
	color: #00b4ce;
}
.top .language,
.bottom .dns
{
	display: inline;
	margin: 0;
	padding: 0 20px 0 0;
	float: right;
	font-size: 14px;
	font-weight: normal;
	color: #4a4a4a;
	vertical-align: top;
}
.bottom
{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 40px;
	line-height: 40px;
	border-top: 1px solid #d8d8d8;
}
.center
{
	position: absolute;
	top: 35%;
	width: 100%;
	height: 180px;
}
.login
{
	position: relative;
	display: inline-block;
	width: 100%;
	height: 100%;
	background: #2b91a0; /* Old browsers */
	background: -webkit-linear-gradient(top, #2eacba, #2b91a0); /* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(top, #2eacba, #2b91a0); /* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(top, #2eacba, #2b91a0); /* Firefox 3.6 - 15 */
	background: linear-gradient(to bottom,#2eacba, #2b91a0); /* 标准的语法 */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b91a0', endColorstr='#2eacba',GradientType=0 ); /* IE6-9 */
	border-top: 1px solid #d8d8d8;
	border-bottom: 1px solid #d8d8d8;
	box-shadow: 0 0 5px #CCC;
	vertical-align: middle;
	text-align: center;
}
.content
{
	margin: 0 auto;
	padding: 0 0 0 20px;
	width: 532px;
	height: 100%;
}
.content div
{
	float: left;
}
.logoBox
{
	display: block;
	width: 260px;
	padding: 0 20px 0 0;
	height: 100%;
	float: left;
}
.hr
{
	display: block;
	width: 1px;
	height: 150px;
	margin: 15px 0;
	vertical-align: middle;
	border-left: 1px solid #218793;
	box-shadow: -2px 0 2px #2eacbb;
}
.loginBox
{
	display: block;
	margin: 0;
	width: 200px;
	padding: 0 0 0 20px;
	height: 100%;
}

.loginBox .tag,
.loginBox .submit
{
	padding: 1px;
	height: 30px;
}
.loginBox .tag
{
	margin-top: 10px;
	background: #FFF;
	border-radius: 5px 5px;
	box-shadow: 2px 2px 6px #CCC inset;
}
.loginBox .tag:nth-child(1)
{
	margin-top: 30px;
}
.loginBox .submit
{
	margin-top: 15px;
}

.loginBox .tag *
{
	position: static;
	float: left;
}
.loginBox .tag label
{
	display: block;
	width: 30px;
	height: 100%;
}
.loginBox .tag label i
{
	width: 100%;
	height: 100%;
}
.loginBox .tag input
{
	padding: 0 8px;
	width: 150px;
	border: none;
	height: 100%;
	background: transparent;
}
.loginBox .submit a
{
	float: left;
	margin: 0;
	background: #d7d7d7; /* Old browsers */
	background: -moz-linear-gradient(top, rgb(247,247,247) 47%, rgb(215,215,215) 50%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgb(247,247,247) 47%,rgb(215,215,215) 50%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgb(247,247,247) 47%,rgb(215,215,215) 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#d7d7d7',GradientType=0 ); /* IE6-9 */
	color: #5f00b3;
	border-radius: 5px;
	font-weight: bold;
	font-size: 12px;
	padding: 4px 0;
	width: 80px;
	line-height: 20px;
	text-align: center;
}
.loginBox .submit a.loading
{
	background: #d7d7d7; /* Old browsers */
	box-shadow: 2px 2px 5px #aaa inset;
	color: #FFF;
}
.loginBox .submit a.success
{
	background: #d7d7d7; /* Old browsers */
	background: -moz-linear-gradient(top, rgb(247,247,247) 47%, rgb(215,215,215) 50%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgb(247,247,247) 47%,rgb(215,215,215) 50%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgb(247,247,247) 47%,rgb(215,215,215) 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#d7d7d7',GradientType=0 ); /* IE6-9 */
	color: #5f00b3;
}
#LoginInfo
{
	line-height: 30px;
	font-size: 12px;
	text-indent: 10px;
	color: #FFF;
}
