@charset "UTF-8";
html, body
{
	overflow: hidden;
}
.head
{
	position: absolute;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 80px;
	background: #2b91a0; /* Old browsers */
	background: -webkit-linear-gradient(top, #2eacba, #2b91a0); /* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(top, #2eacba, #2b91a0); /* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(top, #2eacba, #2b91a0); /* Firefox 3.6 - 15 */
	background: linear-gradient(to bottom,#2eacba, #2b91a0); /* 标准的语法 */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b91a0', endColorstr='#2eacba',GradientType=0 ); /* IE6-9 */
	border-bottom: 1px solid #d8d8d8;
	box-shadow: 0 0 5px #CCC;
	line-height: 80px;
	z-index: 10;
}
.logo
{
	display: inline;
	margin: 5px 0 5px 10px;
	float: left;
	width: 40px;
	height: 40px;
	font-size: 20px;
	background: url(../../icon/logo.png);
}
.name
{
	display: inline;
	margin: 0;
	padding: 0;
	float: left;
	height: 100%;
	text-indent: 5px;
	font-size: 22px;
	color: #FFF;
	text-shadow: 0 0 5px #000;
}
.userFrame
{
	position: absolute;
	display: block;
	right: 10px;
	width: 130px;
	overflow: hidden;
}
.userFrame *
{
	display: block;
}
.userFrame > a
{
	width: 100%;
	overflow: hidden;
}
.userFrame a *
{
	float: left;
}
.userFrame .userBox
{
	height: 50px;
	line-height: 50px;
}
.userFrame .userBox *
{
	float: left;
}
.userFrame .userBox i
{
	margin: 5px 5px 5px 0;
}
.userFrame .userBox label
{
	color: #FFF;
	text-shadow: 0 0 5px #000;
}
.userFrame .toolBox
{
	float: left;
	height: 35px;
	line-height: 35px;
	font-size: 14px;
	color: #73b1ae;
	background: #4c5469;
}
.userFrame .toolBox i
{
	margin: 5px 10px 5px 10px;
	width: 25px;
	height: 25px;
}
.userFrame .toolBox:hover
{
	color: #FFF;
	background: #3d4455;
}
.main
{
	position: absolute;
	margin: 0 0 0 220px;
	/* height: 于js中自适应控制 */
}
.navigation
{
	display: block;
	margin: 0 0 0 -220px;
	float: left;
	padding: 0 0 0 0;
	width: 217px;
	height: 100%;
	background: #F3F3F3; /* Old browsers */
	border-right: 3px solid #CCC;
}
.information
{
	display: block;
	width: 100%;
	height: 100%;
	background: #F3F3F3; /* Old browsers */
	
}