@charset "UTF-8";
.main
{
	display:ã€€block;
	padding-left: 300px;
	height: 100%;
}
.leftFrame
{
	width: 300px;
	height: 100%;
	float: left;
	margin-left: -300px;
}

.centerFrame
{
	display: block;
	float: left;
	width: 100%;
	height: 100%;
}
.frame:nth-child(1)
{
	margin: 10px 10px;
}
#searchF
{
	float: left;
	margin: 0 8px 5px 0;
}