<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<script src="../../../lib/jquery/jquery-1.12.4.min.js" type="text/javascript"></script>
<script src="../../../lib/FrichUI/frichUI-0.1.js" type="text/javascript"></script>
<script src="../../../content/js/form.js" type="text/javascript"></script>
<link href="../../../content/css/form.css" rel="stylesheet" />
</head>

<body>
	<form id="add">
		<table>
			<tbody>
				<tr>
					<td>
						<label for="O_FENCENAME">围栏名*</label>
						<input id="O_FENCENAME" name="O_FENCENAME" type="text" class="NoEmpty">
					</td>
				</tr>
				<tr>
					<td>
						<label for="O_COMMIT">备注*</label>
						<textarea id="O_COMMIT" name="O_COMMIT" class="NoEmpty"></textarea>
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td>
						<p class="info"></p>
					</td>
				</tr>
			</tfoot>
		</table>
	</form>
</body>
</html>