<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<script src="../../../lib/jquery/jquery-1.12.4.min.js" type="text/javascript"></script>
<script src="../../../lib/FrichUI/frichUI-0.1.js" type="text/javascript"></script>
<script src="../../../content/js/form.js" type="text/javascript"></script>
<link href="../../../content/css/form.css" rel="stylesheet" />
</head>

<body>
	<form id="add">
		<table>
			<tbody>
				<tr>
					<td>
						<input id="O_PARENTID" name="O_PARENTID" type="text" class="hide">
						<input id="O_DEPARTTYPE" name="O_DEPARTTYPE" type="text" value='bd877733-1a30-4bc1-bf12-9a3efe1ce932' class="hide">
					</td>
				</tr>
				<tr>
					<td>
						<label for="O_DEPARTNAME">部门名*</label>
						<input id="O_DEPARTNAME" name="O_DEPARTNAME" type="text" class="NoEmpty">
					</td>
					<td>
						<label for="O_PARENTNAME">上级部门*</label>
						<input id="O_PARENTNAME" name="O_PARENTNAME" type="text" class="NoEmpty">
					</td>
				</tr>
			</tbody>
		</table>
	</form>
	<script type="text/javascript">
		var a = true;
		$("#O_PARENTNAME").focus(function(){
			if(a) {
				F.Dialog.make(undefined, {
					title: "选择父节点",
					type: "customer",
					url: "view/form/department/select.html",
					frameId: "departmentSelect",
					frameWidth: 510,
					frameHeight: 290,
					zIndex: 1500,
					data: {},
					enableCover: true,
					clear: function(){
						a = true;
					},
					closeClick: function(){
						
					},
					confirmClick: function(doc, fa){
						var rs = doc.contentWindow.select();
						$("#O_PARENTID").val(rs.id);
						$("#O_PARENTNAME").val(rs.name);
						fa.clear();
					},
					cancleClick: function(){
						
					}
				});
				a = false;
			}
		});
	</script>
</body>
</html>